<html>
    <head>
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='dist/src/css/output.css') }}">
        {% endblock %}
        <meta charset="UTF-8">
        <link rel="icon" href="{{ url_for('static', filename='dist/src/icons/site_icon.ico') }}", type="image/vnd.microsoft.icon">
        <meta name="author" content="Noah Matlik">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'component/google_fonts.html' %}
        <title>{{ page_title | default('We\'re All Adults Here') }}</title>
    </head>
    <body>
        <div class="flex flex-col min-h-screen">
            {% block layout %}
                    {% block content %}
                    {% endblock %}
            {% endblock %}
        </div>
        {% include 'component/footer/main_footer.html' %}
        {% for file in IMPORT_JS | unique %}
            <script src="{{ url_for('static', filename='dist/src/js/' ~ file ~ '.js' ) }}"></script>
        {% endfor %}
    </body>
</html>