{% extends 'structure/navigation.html'%}
{% set page_title = "Please Verify Your Humanity" %}

{% block content %}
<div class="focus_center">
    <h1 class="text-red-950 solid-text-shadow-b-red-700 mb-10">Prove Your Humanity.</h1>
    <form class="index_card px-4 py-2 index_card_red flex flex-col gap-2 justify-center items-center mx-2">
        {% set contentIndex = range(0, ( 1 + 1 )) | random %}
        <input type="hidden" name="input_id" value="{{ contentIndex }}">
        {# TODO make flask backend able to tell which. currently only works with dots or dots AND asimov #}
        {% if contentIndex == 1 %}
            <p>Rule four of the Grand Covenant: <span class="italic">A puppet cannot lie.</span></p>
            <label class="font-bold text-red-800 underline" for="valid_resp">Are you a puppet?</label>
            <select required data-captcha-type="asimov" name="valid_resp" id="valid_resp">
                <option value="">---</option>
                <option value="Yes">Yes.</option>
                <option value="No">No.</option>
            </select>
        {% else %}
            <img class="w-80" src="{{ url_for('static', filename='/dist/src/images/standin/1x2.webp') }}">
            <p>What does the text in the above image read?</p>
            <input required type="text" name="valid_resp" id="valid_resp">
        {% endif %}
        <button class="flex-none" type="submit">> Submit</button>
    </form>
</div>
{% endblock %}