{% extends 'structure/navigation.html'%}
{% set page_title = data.title %}

{% macro gen_index_card_color(index_card_index) %} 
    {% if index_card_index == 0 %} 
        {% set color = 'index_card_teal' %}
    {% elif index_card_index == 1 %}
        {% set color = 'index_card_amber' %}
    {% elif index_card_index == 2 %} 
        {% set color = 'index_card_gray' %}
    {% elif index_card_index == 3 %}
        {% set color = 'index_card_red' %}
    {% elif index_card_index == 4 %} 
        {% set color = 'index_card_sky' %}
    {% elif index_card_index == 5 %}
        {% set color = 'index_card_violet' %}
    {% elif index_card_index == 6 %}
        {% set color = 'index_card_lime' %}
    {% elif index_card_index == 7 %}
        {% set color = 'index_card_rose' %}
    {% elif index_card_index == 8 %}
        {% set color = 'index_card_fuchsia' %}
    {% else %}
        {% set color = 'index_card_gray' %}
    {% endif %}
    {{ color }}
{% endmacro %}

{% block content %}
    <div class="page_border">
        <div class="mx-auto text-center mb-4">
            <h2 class="py-0 dotted_underline">{{ data.title }}</h2>
            {% if data.subtitle %}
                <p class="mt-0 font-permanent-marker">
                    {{ data.subtitle }}
                </p>
            {% endif %}
        </div>
        <div class="flex flex-col mx-auto w-full items-center gap-3">
            {% for card in data.cards %}
                {% set color_index = (loop.index0 + data.title|length ) % 10 %}
                <div class="index_card w-fit min-w-1/3 {{ gen_index_card_color(color_index)|trim }}">
                    <h5>{{ card.title }}</h5>
                    <h6>{{ card.subheading }}</h6>
                    {% if card.image %}
                        <img src="{{ url_for('static', filename='dist/src/images/' ~ card.image) }}">
                    {% endif %}
                    <ul>
                        {% for item in card.list %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}