{% extends 'structure/navigation.html'%}
{% set page_title = "Recipes - Browse" %}
{% set ACTIVE_FOOTERS = ACTIVE_FOOTERS + ["recipe_footer"] %}

{% block content %}
    <div class="flex flex-row mx-2 lg:mx-auto gap-4 items-center">
        <form class="widget_container p-1 px-2" method="get" action="{{ url_for('recipes') }}">
            <input type="text" name="query" placeholder="Search title..." value="{{ request.args.get('query', '') }}">
        
            <label><input type="checkbox" name="meal" value="breakfast"
                {% if 'breakfast' in request.args.getlist('meal') %}checked{% endif %}> Breakfast</label>
            <label><input type="checkbox" name="meal" value="lunch"
                {% if 'lunch' in request.args.getlist('meal') %}checked{% endif %}> Lunch</label>
            <label><input type="checkbox" name="meal" value="dinner"
                {% if 'dinner' in request.args.getlist('meal') %}checked{% endif %}> Dinner</label>
            <label><input type="checkbox" name="meal" value="dessert"
                {% if 'dessert' in request.args.getlist('meal') %}checked{% endif %}> Dessert</label>
            <label><input type="checkbox" name="meal" value="side"
                {% if 'side' in request.args.getlist('meal') %}checked{% endif %}> Side</label>

            <label><input type="number" name="preptime" value="preptime" min="1" step="1"
                {% if 'preptime' in request.args.getlist('meal') %}checked{% endif %}> Max Preptime</label>
            
            <button type="submit">Search</button>
        </form>
        <a class="buttonlink" href="/recipe_substitutions">Substitutions Guide</a>
    </div>
    <div class="focus_center">
        <h2 class="text-center dotted_underline mb-2">Recipes</h2>
        <div class="flex flex-row gap-3 py-0.5 text-sm">
            <p class="text-green-950">{{ recipes|length }} recipes loaded.</p>
            {% if invalid_count > 0 %} {# display num recipes that don't match schema #}
                <p class="text-red-950">{{ invalid_count }} recipe(s) invalid.</p>
            {% endif %}
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 w-fit mx-auto place-items-center gap-8 p-4">
            {% for recipe in recipes %}
                <a class="buttonlink w-fit text-center" href="{{ recipe.link }}">{{ recipe.data.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}