{% extends 'structure/navigation.html'%}
{% set page_title = "Password Strength" %}
{% set IMPORT_JS = IMPORT_JS + ["https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js", "password_strength"] %}

{% block content %}
    <div class="focus_center min-h-screen">
        <div class="widget_container min-w-2/5 mx-3">
            <form class="flex flex-row items-center justify-center px-6 py-3 border-b-2 rounded-md bg-white border-gray-600 solid-shadow-sm-b-gray-300">
                <input class="flex-1 text-center" type="text" name="password" id="pswrd_str_password" placeholder="Enter Password">
            </form>
            <div class="flex flex-col items-center justify-center mt-2 gap-2">
                <p class="font-black underline underline-offset-1">Rating: <span id="render_final_score">N/A</span></p>
                <div class="flex flex-row items-center justify-center w-full">
                    <div class="flex flex-auto flex-col text-center p-1 pb-2 border-t-2 border-r-1 rounded-t-md rounded-bl-md border-gray-600 bg-teal-100">
                        <p class="font-bold underline">Entropy (in bits):</p>
                        <p id="render_entropy">0 (Very Weak)</p>
                    </div>
                    <div class="flex flex-auto flex-col text-center p-1 pb-2 border-t-2 border-x-1 rounded-t-md border-gray-600 bg-amber-100">
                        <p class="font-bold underline">Points:</p>
                        <p id="render_points">0 (Weak)</p>
                    </div>
                    <div class="flex flex-auto flex-col text-center p-1 pb-2 border-t-2 border-l-1 rounded-t-md rounded-br-md border-gray-600 bg-lime-100">
                        <p class="font-bold underline">Pattern Score:</p>
                        <p id="render_dict_check">0 (Very Weak)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col mb-8 py-2 widget_container min-w-1/3 md:max-w-2/3 mx-auto">
        <h4 class="text-center">Some Notes:</h4>
        <ul>
            <li>This page works entirely on your computer. Your password is never sent to any other server or machine.</li>
        </ul>
        <h6 class="pt-0 mx-4 underline">How it Works</h6>
        <ul class="mt-0">
            <li>Entropy is calculated from a set of possible characters. It is good at estimating brute-force resistance, but does not account for dictionary words and other predictible patterns.</li>
            <li>Calculated points has a similar issues to entropy as they do not account for predictible patterns. Points are gained from:
                <ul class="my-0 py-0">
                    <li>Containing a lowercase letter (+1)</li>
                    <li>Containing an uppercase letter (+1)</li>
                    <li>Containing a digit (+1)</li>
                    <li>Containing a special character (+2)</li>
                    <li>Containing eight or more characters (+1)</li>
                    <li>Containing ten or more characters (+1)</li>
                </ul>
            </li>
            <li>The pattern score utilizes zxcvbn, which returns a 0-4 rating based on how close the password matches various patterns.</li>
        </ul>
        <h6 class="pt-0 mx-4 underline">Rating Calculation</h6>
        <ul class="mt-0">
            <li>Using the last three components, we can then create a formula for an overall rating:
                <ul class="my-0 py-0">
                    <li>Each component has a weight (entropy 75%, points 100%, and pattern matching 200%) which determines how much they influence the final calculation.</li>
                    <li>each component is multiplied by its weight, summed, and reduced to fit within the range 0-4, leaving us with five ranks that can tell you roughly how secure your password is.</li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}