<nav>
    <div class="navbar">
        {% for item in PAGELINKS %}
            {% if loop.index <= NAV_LINK_MAX %}
            <a class="navlink" href="{{ item.link }}">{{ item.label }}</a>
                {% if loop.index == 3 and loop.index < NAV_LINK_MAX and PAGELINKS|length >= 4 %}
                    <div class="navbar_dropdown">
                        <img class="nav_img" src="{{ url_for('static', filename='dist/src/icons/repeating_arrow.ico') }}">
                        <div class="navbar_dropdown_container">
                            <div class="navbar_dropdown_content">
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if PAGELINKS|length >= 4 %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>