<div class="footer">
    <div class="flex flex-col md:flex-row justify-center">
        <div class="footer_container flex-initial">
            <div class="footer_label">
                <p>WAAH</p>
            </div>
            <div class="footer_content">
                <img class="w-12 m-0 mr-1 border-0 solid-shadow-blank" src="{{ url_for('static', filename='/dist/src/icons/site_icon.ico') }}">
                <div class="flex flex-col justify-center items-start border-b-1 border-teal-100 pb-0.5">
                    <p class="font-oleo text-lg">We're All Adults Here</p>
                    <p class="text-teal-200 text-sm">Uptime: <span class="text-white italic">{{ LAST_REBOOT.days ~ " days, " ~ LAST_REBOOT.hours ~ " hours." }}</span></p>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-1 mt-3 md:mt-0 md:ml-2">
            <div class="footer_container flex-1">
                <div class="footer_label">
                    <p>WAAH</p>
                </div>
                <div class="footer_content">
                    <div class="flex flex-col justify-center items-center">
                        <p>hello!</p>
                    </div>
                </div>
            </div>
            <div class="footer_container flex-1 mt-2">
                <div class="footer_label">
                    <p>WAAH</p>
                </div>
                <div class="footer_content">
                    <div class="flex flex-col justify-center items-center">
                        <p>hello!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_container mt-2 md:mt-0 md:ml-2 md:min-w-1/7">
            <div class="footer_label">
                <p>Site Link</p>
            </div>
            <div class="footer_content">
                {% set qr_rand = range(1, 101) | random %}
                {% if qr_rand == 1 %}
                    <img class="w-35 md:w-30 solid-shadow-sm-bl-teal-500" src="{{ url_for('static', filename='dist/src/images/qr_codes/site_link_alt.svg') }}">
                {% else %}
                <!-- TODO need actual site link QR code -->
                    <img class="w-35 md:w-30 solid-shadow-sm-bl-teal-500" src="{{ url_for('static', filename='dist/src/images/qr_codes/site_link.svg') }}">
                {% endif %}
            </div>
        </div>
    </div>
    {% if ACTIVE_FOOTERS %}
        {% for page_footer in ACTIVE_FOOTERS | unique %}
            {% if page_footer != self._TemplateReference__context.name.split('/')[-1].rsplit('.', 1)[0] %}
                {% include 'component/footer/' ~ page_footer ~ '.html' %}
            {% endif %}
        {% endfor %}
    {% else %}
    {% endif %}
</div>